<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/Stile/MasterPageStyle.css")
    @Styles.Render("~/Content/Stile/normalized.css")
    @Styles.Render("~/Content/Stile/Site.css")

    @Scripts.Render("~/Scripts/MasterPageScripts.js")
    @Scripts.Render("~/scripts/jquery-3.4.1.min.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Scripts/jquery.cookie-1.4.1.min.js")
    @Scripts.Render("~/Scripts/InputScripts.js")
</head>
<body>


    <header class="hedder">
        <div class="hedder__content">


            <a href=@Url.Action("Index", "Home")> <img class="hedder__content__logo" src="~/Content/Img/Log.bmp" /></a>


            @if (HttpContext.Current.User.Identity.IsAuthenticated && Request.Cookies["User"] != null)
            {


                HttpCookie cookies = Request.Cookies["User"];


                    <section class="hedder__content__authUser__wrapper" onclick="MenuButtonAction()">
                        <img src="~/Content/Photo/@cookies["Photo"]" class="hedder__content__authUser_photo" />
                        <p class="hedder__content__authUser_fio">@Server.UrlDecode(@cookies["Name"])  @Server.UrlDecode(@cookies["Surname"])</p>
                        <p class="hedder__content__authUser_fio">&#709</p>
                    </section>

                    <ul class="hedder__content__authUser__menu">
                        <li class="hedder__content__authUser__menu__wrapper"><a href="@Url.Action("Index", "Home")"><img src="~/Content/Img/HomeIco.bmp" />На главную</a></li>
                        <li class="hedder__content__authUser__menu__wrapper"><a href="@Url.Action("Index","Settings")"><img  src="~/Content/Img/SetingsIco.bmp" />Настройки</a></li>
                        <li class="hedder__content__authUser__menu__wrapper"><a href="@Url.Action("Exit", "Home")" ><img  src="~/Content/Img/ExitIco.bmp"  /><p>Выход</p></a></li>

                    </ul>
            }
            else
            {
                var cookie = new HttpCookie(".AspNet.ApplicationCookie")
                {
                    Expires = DateTime.Now.AddDays(-1d)
                };

                Response.Cookies.Add(cookie);

                <nav class="navigation">
                    <a href="@Url.Action("Login","Account")" class="navigation_link">Вход</a>
                    <a href="@Url.Action("Register","Account")" class="navigation_link">Регистрация</a>
                </nav>


                <nav class="hedder__content__menu">
                    <a href="@Url.Action("Login","Account")" class="hedder__content__menu__link">Вход</a>
                    <a href="@Url.Action("Register","Account")" class="hedder__content__menu__link">Регистрация</a>
                </nav>

            }



            <div class="hedder__content__menu__icon__wrapper" onclick="MenuClick()">
                <div class="hedder__content__menu__icon"></div>
            </div>

        </div>
    </header>

    <section class="Content" onclick="MenuButtonAction2()">
        @RenderBody()

    </section>


  
</body>
</html>