@model Msg.Models.ChangePasswardModel

@{
    ViewBag.Title = "Смена пароля";
}


    <section>
        <h2>Введите новый пароль</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="Errors">@Html.ValidationSummary(true)</div>

            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.Code)

            <div class="FormElement">
                <span class="formTitle">Пароль</span>
                @Html.PasswordFor(m => m.Password, new { @class = "formInput" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <div class="FormElement">
                <span class="formTitle">Повторите пароль</span>
                @Html.PasswordFor(m => m.PasswordConfirm, new { @class = "formInput" })
                @Html.ValidationMessageFor(model => model.PasswordConfirm)
            </div>

            <div class="FormElement">
                <input type="submit" class="formButton" value="Сменить" />
            </div>
        }
    </section>

