@model Msg.Models.LoginModel
@{
    ViewBag.Title = "Аутентификация";
}
    <link href="~/Content/Stile/LoginPageStyle.css" rel="stylesheet" />
    <script src="~/Scripts/LoginPageScripts.js"></script>
    <section class="LoginForm">


        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "Form" }))
        {
            @Html.AntiForgeryToken()

            <div class="Errors"> @Html.ValidationSummary(true)</div>

            <div class="FormElement">

                @Html.TextBoxFor(m => m.Login, new { @class = "formInput", @placeholder = "Логин" })
                @Html.ValidationMessageFor(model => model.Login)

            </div>

            <div class="FormElement">

                @Html.PasswordFor(m => m.Password, new { @class = "formInput", @placeholder = "Пароль" })
                @Html.ValidationMessageFor(model => model.Password)

            </div>

            <input type="submit" value="Войти" class="formButton submit" />

            <button class="formButton Registration" type="button" id="@Url.Action("Register","Account")" >Регистрация</button>
            <button class="formButton ResetPassword" type="button">Сброс пароля</button>


        }

    </section>




