@model Msg.Models.LoginModel
@{
    ViewBag.Title = "Аутентификация";
}


    <section class="LoginForm">

        <h2>Вход</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="Errors"> @Html.ValidationSummary(true)</div>

            <div class="FormElement">
                <span class="formTitle">Логин</span>
                @Html.TextBoxFor(m => m.Login, new { @class = "formInput" })
                @Html.ValidationMessageFor(model => model.Login)
            </div>

            <div class="FormElement">
                <span class="formTitle">Пароль</span>
                @Html.PasswordFor(m => m.Password, new { @class = "formInput" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <div class="FormElement">
                <input type="submit" value="Войти" class="formButton" />
            </div>
        }
    </section>

    <section class="LoginLinks">
       

        <span><button> @Html.ActionLink("Регистрация", "Register", "Account")</button></span>
        <span><button>@Html.ActionLink("Забыл пароль", "PasswardReset" , "Account" )</button></span>
    </section>